<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h1><%= @blog_post.title %></h1>
			  <h5>by <%= @blog_post.user.email %></h5>
			</div>
			<div class="panel-body">
		  	<p><%= @blog_post.body %></p>
		  </div>
		  <div class="panel-footer">
				<%= edit_destroy(@blog_post) %>
				<%= link_to 'Back', blog_posts_path %>
			</div>
		</div>
	</div>
</div>

<%= render 'comments/form' %>

<% @blog_post.comments.each do |comment| %>
	<p><strong><%= comment.user.email %></strong> said:</p>
	<p><%= comment.body %></p>
<% end %>