<h1>Showing <%= @user.username %>'s Blog Posts</h1>

<div class="row">
  <% @blog_posts.each_with_index do |blog_post, n| %>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><%= blog_post.title%></h3>
        </div>
        <div class="panel-body">
          <h5>by <%= blog_post.user.username %></h5>
          <h6><%= blog_post.created_at.strftime("%m/%d/%Y %I:%M %p") %></h6>
          <p><%= blog_post.body[0..250] %>...[<%= link_to 'Read More', blog_post %>]</p>
        </div>
        <div class="panel-footer">
          <%= link_to 'Edit', edit_blog_post_path(blog_post), class: "btn btn-warning" %>
          <%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
    <% if n.odd? %>
      </div>
      <div class="row">
    <% end %>
  <% end %>
</div>

